<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'artistes/style.css' %}">
    <meta charset="UTF-8">
    <title>ajout d'un Groupe</title>
</head>
<body>
    <p> Affichage : {{groupe.id}}) {{groupe.affichage}} </p>


    <a class= "bouton_afficher" href="/artistes/formulaire/">Ajouter un nouveau groupe</a>
    <a class= "bouton_afficher" href="/artistes/index/">Page d'accueil</a>
    <a class= "bouton_afficher" href="/artistes/afficher_all/">Afficher les groupes enregistrés</a>
</body>
</html>