<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'artistes/style.css' %}">
    <meta charset="UTF-8">
    <title>Affichage Albums</title>
</head>
<body>
    {% for donnees in liste_a %}
        <li>{{donnees.nom_album}} - {{donnees.nom_groupe}} - {{donnees.date_sortie}} <li>
        <a href="/artistes/afficher_un_album/{{donnees.id}}/">Affichage détails…</a>
        <a href="/artistes/update_album/{{donnees.id}}/">Update</a>
        <a href="/artistes/supprimer_album/{{donnees.id}}/">Supprimer !</a>
    {% endfor %}
    <a class = "bouton_ajout" href="/artistes/ajout_album/">Ajouter un album</a>
    <a class = "bouton_ajout" href="/artistes/index/">Page d'accueil</a>
</body>
</html>