<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'artistes/style.css' %}">
    <meta charset="UTF-8">
    <title>Formulaire</title>
</head>
<body>
    <header>
        <h1>Formulaire de saisie / modification des groupes de musique :</h1>
    </header>

    <div>
        {% if not id %}
            <form class="form" action="/artistes/traitement/" method="POST">
        {% else %}
            <form class="form" action="/artistes/traitement_update/{{id}}/" method="POST">
        {% endif %}
            {% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" class="bouton_ajout" value="Envoyer les données">
        </form>
    </div>

    <div>
        <a class="bouton_accueil" href="/artistes/index/">Page d'accueil</a>
        <a class="bouton_afficher" href="/artistes/afficher_all/">Afficher les groupes enregistrés</a>
    </div>
    <footer>Web-design : Herchuel Lucas - 2025</footer>
</body>
</html>
