.bouton_ajout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150px;
    margin:15px;
    padding: 15px;
    color: green;
    border: aqua 2px solid;
    border-radius: 100px;
    background-color: aqua;
}

h1 {
    text-align:center;
    border: solid 2px blue;
    background-color: yellow;
}

a {
    color:yellow;
}

.bouton_afficher {
     display: flex;
     flex-direction: column;
     justify-content: center;
     border: 2px solid blue;
     background-color: red;
     margin: 15px ;
     padding:15px;
     border-radius: 5px;
     text-align: center;
     width: 150px;
}