<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'artistes/style.css' %}">
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <header>
        <h1>Accueil Discographie</h1>
    </header>
    <p>Bienvenue sur ce site qui permet de répertorier des groupes de musiques ainsi que leurs albums</p>
    <a class= "bouton_ajout" href="/artistes/formulaire/">Ajouter un groupe</a>
    <a class= "bouton_ajout" href="/artistes/ajout_album/">Ajouter un album</a>
    <a class= "bouton_afficher" href="/artistes/afficher_all/">Afficher les groupes</a>
    <a class= "bouton_afficher" href="/artistes/afficher_all_album/">Afficher les albums</a>
    <footer>Web-design : Herchuel Lucas - 2025</footer>
</body>
</html>